html{
	font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
	}
img{
	position: relative;
	vertical-align: middle;
}
body {
	max-width: 75%;
	margin: 0 auto;
	background: #ededed;
	color: #616161;
	font-size: 1em;
	line-height: 1.4117;
}
.wrap{
	
	
}
.site-header{
	
	background:#fff;	
	}
.site-header ul{
	margin: 0;
	padding: 0;
	}
.site-header li{
	float: left;
	list-style-type: none;
	}
.site-header a,.site-header .menu a{
	min-width:13.84615385em;
	max-width:20.76923077em;
	font-weight:400;
	color:#fff;
	cursor: pointer;
	text-decoration: none;
	padding: .5em;
	}
.site-header .site-navigation a,.site-header .site-navigation li{
	color: #004e93;
	cursor: pointer;
	text-decoration: none;
	padding: .5em;
	}

.site-header-primary{
	float:left;
	width: 100%;
	padding-top: 0.47em;
	border-color:#004e93 transparent #c7c7c7;
	background:#004074;
}
.header-logo{
	float: left;
	position: relative;
	}
.site-header-secondary{
	float:left;
	width: 100%;
	padding-top: 0.47em;
	background-color: #fff;
	clear: left;
	}
.site-navigation{
	display: block;
	float: left;
	}

.top-menu-container{
	float: right;
	display: block;
	}
	
.cols-row{
	padding: 0 1.4em;
	margin: 0 auto;
	position: relative;
	width: 100%;
	}

